@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
  font-size: 100%;
}
body {
  font-family: "HGP行書体", sans-serif;
  line-height: 1.7;
  color: white;
  background-color: rgb(0, 0, 0);
  background-image: url(black.jpg);
  background-repeat: round;
  font-style: inherit;
}
.color {
  color: rgb(201, 250, 66);
}
a {
  text-decoration: none;
}
a:visited {
  color: #ffffff;
}
img {
  max-width: 100%;
}
.wrapper {
  /* max-width: 1100px; */
  margin: 0 auto;
  padding: 0 4%;
}
.pc {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

.phone {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}
.line {
  font-size: 3rem;
  text-align: center;
  line-height: 0.95em;
  font-weight: bold;
  color: rgb(255, 0, 0);
  text-shadow: 0 0 0.05em #fbfbfb, 0 0 0.1em #ffffff, 0 0 0.15em #ffffff,
    0 0 0.3em #ffffff;
  filter: saturate(80%);
  /* -webkit-background-clip: text; */
}
/* 大きな背景画像 */
.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

/* 見出し */
.page-title {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: normal;
}
.sub-title {
  font-size: 1.375rem;
  padding: 0 8px 8px;
  border-bottom: 2px rgba(231, 255, 15, 0.548) solid;
  font-weight: normal;
}

/* ボタン */
.button {
  background: rgb(197, 40, 40);
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}
.button:hover {
  background: #6b6565;
}
.btn {
  background: rgb(119, 29, 6);
  color: #fff;
  border-radius: 5px;
  padding: 10px 22px;
}
.btn:hover {
  background: #6b6565;
}
h4 {
  color: #ff9292;
}

/* form */
form {
  margin-bottom: 4%;
}

/* iframe */
iframe {
  width: 100%;
}

/* HEADER
------------------------------- */
.page-header {
  display: flex;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.562);
  /* background-color: rgba(255, 52, 1, 0.349); */
  /* background-image: url(/image/red.jpg);
  background-repeat: repeat; */
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}
.logo {
  width: 210px;
  margin-top: 14px;
}
.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;

  padding: 0.5em 1em;
  margin: 2em 0;
  background: #2d343898; /*背景色*/
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32); /*影*/
}

.main-nav li {
  margin: 0 18px;
}
.main-nav a {
  color: white;
}
.main-nav a:hover {
  color: rgb(255, 1, 1);
}

/* HOME
------------------------------- */
#home .page-title {
  text-transform: none;
}
.home-content {
  text-align: center;
  margin-top: 3%;
  font-size: 160%;
}
.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}

/* NEWS
------------------------------- */
#news {
  /* background-image: url(/image/料理１５.JPG); */
  /* height: 270px; */
  margin-bottom: 40px;
}
#news .page-title {
  text-align: center;
}
.news-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

/* 記事部分 */
article {
  width: 74%;
}
.post-info {
  position: relative;
  padding-top: 4px;
  margin-bottom: 40px;
}
.post-date {
  background: rgb(124, 13, 13);
  border-radius: 50%;
  color: #fff;
  width: 100px;
  height: 100px;
  font-size: 1.625rem;
  text-align: center;
  position: absolute;
  top: 0;
  padding-top: 10px;
}
.post-date span {
  font-size: 1rem;
  border-top: 1px rgba(255, 255, 255, 0.5) solid;
  padding-top: 6px;
  display: block;
  width: 60%;
  margin: 0 auto;
}
.post-title {
  font-size: 2rem;
  font-weight: normal;
}
.post-title,
.post-cat {
  margin-left: 120px;
}
article img {
  margin-bottom: 20px;
}
article p {
  margin-bottom: 1rem;
}

/* サイドバー */
aside {
  width: 22%;
}
.sub-menu {
  margin-bottom: 60px;
  list-style: none;
  padding: 0 15px;
}
.sub-menu li {
  border-bottom: 1px #ddd solid;
}
.sub-menu a {
  color: white;
  padding: 10px;
  display: block;
}
.sub-menu a:hover {
  color: #0bd;
}
aside p {
  padding: 12px 10px;
}

/* MENU
------------------------------- */
.menu-content {
  max-width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-top: 3%;
}
.page-title {
  text-align: center;
}
.menu-content p {
  font-size: 1.125rem;
  margin: 10px 0;
}

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}

#gentei {
  border-bottom: 2px rgba(231, 255, 15, 0.548) solid;
}
#sen {
  border-bottom: 2px rgba(231, 255, 15, 0.548) solid;
}

#nisen {
  border-bottom: 2px rgba(231, 255, 15, 0.548) solid;
}

#sansen {
  border-bottom: 2px rgba(231, 255, 15, 0.548) solid;
}

.info {
  text-align: center;
}

/* CONTACT
------------------------------- */

/* フォーム */
form div {
  margin-bottom: 14px;
}
label {
  font-size: 1.125rem;
  margin-bottom: 10px;
  display: block;
}
input[type="text"],
input[type="email"],
textarea {
  background: rgba(255, 255, 255, 0.5);
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}
input[type="text"],
input[type="email"] {
  width: 100%;
  max-width: 240px;
}
textarea {
  width: 100%;
  max-width: 480px;
  height: 6rem;
}
input[type="submit"] {
  border: none;
  cursor: pointer;
  line-height: 1;
}

/* 店舗情報・地図 */
#location {
  padding: 4% 0;
}
#location .wrapper {
  display: flex;
  justify-content: space-between;
}
.location-info {
  width: 22%;
  font-size: 1.8rem;
}
.location-info p {
  padding: 12px 10px;
}
.location-map {
  width: 74%;
}

/* SNS */
#sns {
  background: black;
  padding: 4% 0;
}
#sns .wrapper {
  display: flex;
  justify-content: space-between;
}
#sns .sub-title {
  margin-bottom: 30px;
}
.sns-box {
  width: 30%;
}

/* フッター
------------------------------- */
footer {
  background: rgba(0, 0, 0, 0.171);
  text-align: center;
  padding: 0 0 26px 0;
}
footer p {
  color: #fff;
  font-size: 0.875rem;
}
.add {
  margin-top: 1%;
  margin-bottom: 50px;
}

.guide {
  position: relative;
}
.guide p {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 150%;
}

.guide img {
  width: 100%;
}

.img_wrap {
  /* border: 1px solid #ddd; */
  overflow: hidden;
}
.img_wrap img {
  transform: scale(1.1);
  cursor: pointer;
  filter: blur(5px);
  transition-duration: 0.5s;
}
.img_wrap img:hover {
  filter: blur(0);
  transition-duration: 0.5s;
}
.img_wrap img:hover {
  filter: blur(0);
  transition-duration: 0.5s;
}
/* モバイル版
------------------------------- */
@media (max-width: 750px) {
  body {
    font-size: 75%;
  }
  .line {
    font-size: 2rem;
  }
  .page-title {
    font-size: 2.5rem;
  }
  .page-header {
    flex-direction: column;
    align-items: center;
  }
  .pcshow {
    display: none;
  }
  /* HEADER */
  .main-nav {
    font-size: 1rem;
    margin: 0 0 30px 0;
  }
  .main-nav li {
    margin: 0 20px;
  }

  /* HOME */
  .home-content {
    margin-top: 5%;
    font-size: 100%;
  }

  .img_wrap img {
    filter: blur(0);
    transition-duration: 0.5s;
  }

  /* NEWS */
  .news-contents {
    flex-direction: column;
  }
  #news .page-title {
    margin-top: 30px;
  }
  article,
  aside {
    width: 100%;
  }
  aside {
    margin-top: 60px;
  }
  .post-info {
    margin-bottom: 30px;
  }
  .post-date {
    width: 70px;
    height: 70px;
    font-size: 1rem;
  }
  .post-date span {
    font-size: 0.875rem;
    padding-top: 2px;
  }
  .post-title {
    font-size: 1.375rem;
  }
  .post-cat {
    font-size: 0.875rem;
    margin-top: 10px;
  }
  .post-title,
  .post-cat {
    margin-left: 80px;
  }

  /* MENU */
  .menu-content {
    margin-top: 5%;
  }

  /* CONTACT */
  #contact .page-title {
    margin-top: 40px;
  }

  /* フォーム */
  input[type="text"],
  input[type="email"],
  textarea {
    max-width: 100%;
  }

  /* 店舗情報・地図 / SNS */
  #location .wrapper,
  #sns .wrapper {
    flex-direction: column;
  }
  .location-info,
  .location-map,
  .sns-box {
    width: 100%;
  }
  .sns-box {
    margin-bottom: 30px;
  }
  .footer_area {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10000;
  }
  .footer_area .footer_area_inner {
    position: relative;
    width: 80%;
    margin: 0px auto;
    padding: 10px 0;
    margin-right: 0px;
  }
  .menu-content {
    font-size: 1.2rem;
  }
  .footer_area .footer_area_inner .footer_area_inner_btn {
    width: 85%;
    padding: 11px 0;
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    line-height: 1.3;
  }
  .inquiry_btn {
    background-color: #ff2b2ba1;
    -webkit-border-: 3px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 80%;
    padding: 5px 0;
    font-size: 18px;
    font-weight: bold;
  }
  .inquiry_btn:link,
  .inquiry_btn:visited {
    color: #ffffff !important;
  }
  .footer_area_inner span {
    color: #fff;
  }
  #siteBottom {
    margin-bottom: 85px;
  }
  .footer_wrapper {
    display: none;
    margin-bottom: 30px;
  }
  .pc {
    display: none;
    margin-bottom: 100px;
  }
  .accordion-container .accordion-title {
    position: relative;
    margin-bottom: 1px;
    padding: 0.625em 0.625em 0.625em 2em;
    background-color: #000;
    font-size: 1.25em;
    font-weight: normal;
    color: #fff;
    cursor: pointer;
  }
  .accordion-container .accordion-title:hover,
  .accordion-container .accordion-title:active,
  .accordion-title.open {
    background-color: #aa0000;
  }
  .accordion-container .accordion-title::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 25px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: #fff;
  }
  .accordion-container .accordion-title.open::after {
    content: "";
    position: absolute;
    top: 15px;
    border: 8px solid transparent;
    border-bottom-color: #fff;
  }

  /*CSS for CodePen*/

  .accordion-content {
    padding-left: 2.3125em;
  }
  .accordion-container {
    width: 100%;
    margin: 0 auto;
  }
  .bottom {
    margin-bottom: 5%;
  }
}
/*641px～PC　PC上では見えないようにする*/
@media screen and (min-width: 650px) {
  .footer_area {
    display: none;
  }
  .twitter-follow-button {
    display: none;
  }
  .phone {
    display: none;
  }
  .info {
    display: none;
  }
}
